<div>
    {{> "modules/party-overview/templates/parts/Tabs.html"}}
    <section class="content">
        <div class="tab" data-tab="general" data-group="party">
            <div class="table-row header">
                <div class="text">Folder</div>
                <div class="text">Character</div>
                <div class="text">Owner</div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                <div class="text">{{ actor.userGroup }}</div>
                <div class="text">{{ actor.name }}</div>
                <div class="text">{{ actor.owner.name }}</div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
