:root {
	--user-manager-min-width: 60vw; 
	/* --user-manager-min-height: 60vh;
	--user-manager-max-height: 66%;
	--select-border: #777;
 	--select-focus: IndianRed;
 	--select-arrow: var(--select-border); */
}

div.user-manager-window {
	/* min-height: var(--user-manager-min-height); */
	min-width: var(--user-manager-min-width); 
	/* max-height: var(--user-manager-max-height); */
	/* max-width: var(--user-manager-max-width); */
}

div.user-manager-window nav.tabs {
	display: flex;
	flex-direction: row;
}

div.user-manager-window nav li {
	display: inline-block;
	list-style-type: none;
}

div.user-manager-window nav .item {
	color: gray;
}

div.user-manager-window nav .item.active {
	color: black;
	border-bottom: 2px solid var(--primary);
	text-shadow: none;
}

div.user-manager-window .table-row {
	color: black;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-grow: 0;
	-webkit-flex-grow: 0;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	width: 100%;
}

div.user-manager-window .table-row span.note {
	font-size: 0.6rem;
	color: green;
	font-weight: bold;
	line-height: 18pt;
}

div.user-manager-window .table-row span.adjusted {
	color: green;
	font-weight: bold;
}

div.user-manager-window .table-row:nth-child(2n) {
	background-color: var(--tertiary);
}

div.user-manager-window .table-row .text {
	margin: auto;
	flex-grow: 2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 5px;
	flex-basis: 50px;
	color: var(--alt);
	font-style: italic;
}

div.user-manager-window .table-row .text.firstCol {
	color: black;
	font-style: normal;
}


div.user-manager-window .table-row .text:hover {
	margin: auto;
	flex-grow: 2;
	overflow: hidden;
	white-space: normal;
	text-overflow: clip;
	word-break: break-all;
	padding-left: 5px;
	flex-basis: 50px;
}

div.user-manager-window .table-row .text.icon {
	text-align: center;
}

div.user-manager-window .table-row .text.background {
	white-space: pre-wrap;
	text-align: left;
	vertical-align: top;
}

div.user-manager-window .table-row .num {
	margin: auto;
	text-align: center;
	flex-basis: 50px;
	flex-grow: 0;
	flex-shrink: 1;
}

div.user-manager-window .table-row .widenum {
	margin: auto;
	text-align: center;
	flex-basis: 75px;
	flex-grow: 0;
	flex-shrink: 1;
}

div.user-manager-window .table-row .button {
	margin: auto;
	text-align: center;
	flex-basis: 45px;
	flex-grow: 0;
	flex-shrink: 1;
}

div.user-manager-window .table-row.header {
	color: black;
	font-style:
}

div.user-manager-window .table-row.selected {
	background-color: var(--primary);
}

div.user-manager-window .table-row.selected .text {
	color: var(--tertiary);
}

div.user-manager-window .table-row.header .button:not(:first-child) {
	flex-basis: 27px;
}

button.btn-filter,
button.btn-toggle-visibility {
	line-height: initial;
	padding: 2px;
}

/* Input Form Styling  */

div.user-manager-window .input-field {
	font-size: 14px;
	position: relative;
	--field-padding: 12px;
	border-bottom: 10px solid transparent; 
}

div.user-manager-window .input-field input {
	border-bottom: 1px solid var(--primary); 
	border-top: none;
	border-right: none;
	border-left: none;
	margin-left: var(--field-margin);
	margin-right: var(--field-margin);
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent; /*#cfcdb1;*/
	padding: var(--field-padding);
	font-size: 14px;
	position: relative;
	border-radius: 0;
}

div.user-manager-window .input-field .placeholder {
	position: absolute;
	left: var(--field-padding);
	bottom: 50%; 
	top: 8px; 
	transform: translateY(-50%);
	width: calc(100% - (var(--field-padding) * 2));
	color: var(--alt);
	/* overflow: hidden; */
	white-space: nowrap; 
	text-overflow: ellipsis; 
 	transition: all 0.3s ease;
 }

.input-field input:not(:placeholder-shown) + .placeholder,
.input-field input:focus + .placeholder { 
 	top: 28px; 
 	font-size: 12px;
}


div.user-manager-window select {
	border: 1px solid var(--primary);
	/* border-top: none; */
	/* border-right: none; */
	/* border-left: none; */
	border-radius: 15px;
	background: transparent; 
	color: var(--tertiary);
}

div.user-manager-window select.player, option[value='player'] {
	background: var(--alt);
}

div.user-manager-window select.trusted-player, option[value='trusted-player'] {
	background: DarkGreen;
}

div.user-manager-window select.assistant-gm, option[value='assistant-gm'] {
	background: var(--secondary);
}

div.user-manager-window select.gm, option[value='gm'] {
	background: var(--primary);
}

/*
  * General good-look styles, not mandatory.
  */

div.user-manager-window .table-row {
	border-bottom: 1px solid rgb(190, 190, 190);
	border-collapse: collapse;
	padding: 4px;
}

div.user-manager-window .table-row.header .text {
	font-weight: bold;
	color: black;
	font-style: normal;
}


/* Buttons */
button.user-manager-button {
	flex-basis: 100%;
}

.user-manager-window .proficiencies.tab .header .num,

.user-manager-no-ellipsis,
div.user-manager-window .table-row .text.user-manager-no-ellipsis,
div.user-manager-window .table-row .text.icon.user-manager-no-ellipsis,
div.user-manager-window .table-row .num.user-manager-no-ellipsis {
	overflow: visible;
	white-space: normal;
	text-overflow: clip;
}

.user-manager-ellipsis,
div.user-manager-window .table-row .text.user-manager-ellipsis,
div.user-manager-window .table-row .text.icon.user-manager-ellipsis,
div.user-manager-window .table-row .num.user-manager-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}

/* Split the screen in half */

div.user-manager-window .y-flex {
	display: block;
	flex: 0;
}

div.user-manager-window .split {
	flex-basis: 60vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: hidden;
}

div.user-manager-window .split .left {
	width: 60%;
	overflow-y: overlay;
	font-size: 0.75em;
}

div.user-manager-window .split .right {
	width: 40%;
}

div.user-manager-window .split .right .form-row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
}

/* div.user-manager-window .split .right .form-row .baseline { */
	/* align-items: baseline; */
/* } */

div.user-manager-window .align-rt {
	display: flex; 
	justify-content: space-evenly;
	flex-direction: column;
	height: 80px;
	width: 20%;
}

div.user-manager-window .label-plain {
	color: var(--alt);
	text-align: right;
}

div.user-manager-window .value-plain {
	border-bottom: 1px solid var(--primary);
	text-align: right;
}

div.user-manager-window .group-box {
	font-size: 0.75em; 
	height: 80px; 
	border: solid var(--primary); 
	width: 60%;
	overflow-y: overlay;
}

div.user-manager-window .group-box .text {
	color: black;
}

div.user-manager-window .characters-boundbox {
	max-height: 160px;
	height: 180px;
	max-width: 405px;
	border: solid var(--primary);
}

div.user-manager-window .characters-container {
	height: 100%; 
	width: 100%; 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: overlay;
}

div.user-manager-window .character-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 125px;
	max-width: 125px;
	margin: 5px;
	background: rgb(0,0,0,0.1);
	border-radius: 8px;
}

div.user-manager-window .character-box .character-img {
	height: 75%; 
	width: 100%;
	margin: auto;
	display: flex;
}

div.user-manager-window .character-box .character-img img {
	border: none; 
	display: block;
	margin: auto;
	width: 94%;
	border-radius: 5px;
}

div.user-manager-window .character-box .label-character {
	margin-top: auto;
	margin-bottom:auto;
	text-align: center;
}
